* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-color: #11defe;
  --secondary-color: linear-gradient(180deg, hsl(220 25% 12%) 0%, hsl(220 25% 10%) 100%);;
}
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill,
.input-field:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--secondary-color) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}


